tfe_token          = ""
hostname           = "app.terraform.io"
org_base_name      = "boring-test-org"
email_base         = "yourname"
email_domain       = "domain.com"
organization_count = "4"
workspace_count    = "2"
team_count         = "2"
org_member_count   = "3"
